<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Matrilineal Nerd</title>


    <script src="https://kit.fontawesome.com/bcc76ca434.js"></script>
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/nav.css" />

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cardo|Contrail+One|Roboto+Condensed&display=swap"
        rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <div class="container-fluid" id="heading">
        <nav class="fixed-top navigation emphasis">
            <div class="row">
                <div class="col">
                    <div class="dropdown">
                        <button id="expand" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-align-left"></i>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{route('shop.index')}}">Shop</a>
                            <a class="dropdown-item" href="{{route('blog.index')}}">Blog</a>
                            @if(Auth::check())
                            <a class="dropdown-item" href="{{ route('profile')}}">Account</a>
                            @if(Auth::user()->admin == true)
                            <a class="dropdown-item dashboard" href="{{route('adminDashboard')}}">Dashboard</a>
                            @endif
                            <form method="POST" id="logout-form" action="{{route('logout')}}">@csrf</form>
                            <a class="dropdown-item" href="#"
                                onclick="document.getElementById('logout-form').submit();">
                                Logout
                            </a>
                            @else
                            <a class="dropdown-item" href="{{route('login')}}">Login</a>
                            <a class="dropdown-item" href="{{route('register')}}">Register</a>
                            @endif
                        </div>
                    </div>
                </div>
                <div class="col links">
                    <div class="row">
                        <div class="col">Shop</div>
                        <div class="col">Blog</div>
                    </div>
                </div>
                <div class="col">
                    <img id="logo" src="../site-images/logo.png" alt="logo" />
                </div>
                <div class="col links">
                    <div class="row">
                        <div class="col">Login</div>
                        <div class="col">Register</div>
                    </div>
                </div>
                <div class="col">
                    <div id="cart">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</head>

<body>
    <style>
        body {
            background-color: #C2938D;
        }

        #offer {
            height: 400px;
            width: 200px;
            background-color: white;
            position: relative;
            bottom: 800px;
        }

        #offer-text {
            font-size: 24pt;
            position: relative;
            top: 70%;
        }

        #over-image {
            z-index: 1;
            position: relative;
            bottom: 300px;
        }

    </style>


    <div class="container-fluid">
    </div>
</body>

</html>
