<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matrilineal Nerd - Order Summary</title>

    <script src="https://kit.fontawesome.com/bcc76ca434.js"></script>
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/nav.css" />

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cardo|Contrail+One|Roboto+Condensed&display=swap"
        rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <div class="container-fluid" id="heading">
        <nav class="fixed-top navigation emphasis">
            <div class="row">
                <div class="col">
                    <div class="dropdown">
                        <button id="expand" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-align-left"></i>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{route('shop.index')}}">Shop</a>
                            <a class="dropdown-item" href="{{route('blog.index')}}">Blog</a>
                            @if(Auth::check())
                            <a class="dropdown-item" href="{{ route('profile')}}">Account</a>
                            @if(Auth::user()->admin == true)
                            <a class="dropdown-item dashboard" href="{{route('adminDashboard')}}">Dashboard</a>
                            @endif
                            <form method="POST" id="logout-form" action="{{route('logout')}}">@csrf</form>
                            <a class="dropdown-item" href="#"
                                onclick="document.getElementById('logout-form').submit();">
                                Logout
                            </a>
                            @else
                            <a class="dropdown-item" href="{{route('login')}}">Login</a>
                            <a class="dropdown-item" href="{{route('register')}}">Register</a>
                            @endif
                        </div>
                    </div>
                </div>
                <div class="col links">
                    <div class="row">
                        <div class="col">Shop</div>
                        <div class="col">Blog</div>
                    </div>
                </div>
                <div class="col">
                    <img id="logo" src="../site-images/logo.png" alt="logo" />
                </div>
                <div class="col links">
                    <div class="row">
                        <div class="col">Login</div>
                        <div class="col">Register</div>
                    </div>
                </div>
                <div class="col">
                    <div id="cart">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</head>

<body>
    <div class="container" style="padding-top: 50px;">
        <div class="text-center">
            <h1 class="informative-header">Order</h1>
            <div class="informative" style="font-size: 16pt;">Order# Loremipsum.</div>
        </div>
        <div class="row text-center" id="shipping-update">
            <div class="col">
                <h5 class="emphasis-light" style="margin-bottom: -10px;">Order Status</h5>
                <div class="informative">
                    <p>
                        <div class="informative-header" style="color: #999999; font-size: 24pt !important;">
                            Pending
                        </div>

                        <div class="informative-header" style="color: #FFC576; font-size: 24pt !important;">
                            Shipped
                        </div>

                        <div class="informative-header" style="color: #57BC91; font-size: 24pt !important;">
                            Delivered
                        </div>
                        <div class="informative-header" style="color: #DC143C; font-size: 24pt !important;">
                            Cancelled
                        </div>
                        <br>
                        <span id="delivary-date"> Estimated Delivary Date, Tuesday, October 11, 2019
                        </span>
                        <br>
                        <span id="delivary-date"> Delivered on Tuesday October 11, 2019
                        </span>
                        <br>
                        <span style="font-size: 7pt;">
                            Tracking #: Lorem,ipsum.
                        </span>
                    </p>
                </div>
                <div>
                    <small class="informative-header" style="font-size: 7pt !important;">Shipped With</small>
                    <br>
                    <img src="https://i.imgur.com/hafqAuG.jpg" width="128px" alt="">
                </div>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 2em;">
            <div class="order-grid col">
                <div class="card">
                    <div class="card-header emphasis brand-color">
                        Payer Information
                    </div>
                    <div class="card-body text-center order-card">
                        <div class="informative">
                            <div class="emphasis">
                                <h5>Shipping Details</h5>
                            </div>
                            <div><strong>Andrew M</strong></div>
                            <div>
                                <span>123 Fake Avenue </span>
                                <br>
                                <span>Seattle, WA 98122</span>
                                <br>
                                <span><small>United States</small></span>
                            </div>
                        </div>
                        <div>
                            <div class="emphasis">
                                <h5>Payment Details</h5>
                            </div>
                            <div>
                                <b>Subtotal &nbsp; </b>
                            </div>
                            <div>
                                <span>
                                    <strike><i>&nbsp;$15.00&nbsp;</i></strike>
                                </span>
                                <span> $12.25 </span>
                            </div>
                        </div>
                        <div>
                            <div><strong>Shipping&nbsp;</strong></div>
                            <span><i>Free</i></span>
                        </div>
                        <div>
                            <span>
                                <strong>Total</strong>
                                <br>
                                $13.25
                            </span>
                        </div>
                        <br>
                        <div><small>Payed with Card</small></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header emphasis brand-color">
                        Order Information
                    </div>

                    <div class="card-body text-center order-card">
                        <div class="row emphasis-light">
                            <div class="col">
                                <img src="https://i.imgur.com/p20IOr4.jpg" width="45px;" height="45px;" alt=""
                                    style="border-radius: 60px;">
                            </div>
                            <div class="col text-center" style="font-size: 12pt;">
                                <b>4 X Some Item</b>
                            </div>
                            <div class="col text-right">
                                <i>$14.99</i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer" style="background: transparent !important;">
                        <div class="text-right">
                            <b><i>Ordered on 10.8.19</i></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
