<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Matrilineal Nerd</title>

    <script src="https://kit.fontawesome.com/bcc76ca434.js"></script>
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/nav.css" />

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cardo|Contrail+One|Roboto+Condensed&display=swap"
        rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <div class="container-fluid" id="heading">
        <nav class="fixed-top navigation emphasis">
            <div class="row">
                <div class="col">
                    <div class="dropdown">
                        <button id="expand" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-align-left"></i>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{route('shop.index')}}">Shop</a>
                            <a class="dropdown-item" href="{{route('blog.index')}}">Blog</a>
                            @if(Auth::check())
                            <a class="dropdown-item" href="{{ route('profile')}}">Account</a>
                            @if(Auth::user()->admin == true)
                            <a class="dropdown-item dashboard" href="{{route('adminDashboard')}}">Dashboard</a>
                            @endif
                            <form method="POST" id="logout-form" action="{{route('logout')}}">@csrf</form>
                            <a class="dropdown-item" href="#"
                                onclick="document.getElementById('logout-form').submit();">
                                Logout
                            </a>
                            @else
                            <a class="dropdown-item" href="{{route('login')}}">Login</a>
                            <a class="dropdown-item" href="{{route('register')}}">Register</a>
                            @endif
                        </div>
                    </div>
                </div>
                <div class="col links">
                    <div class="row">
                        <div class="col">Shop</div>
                        <div class="col">Blog</div>
                    </div>
                </div>
                <div class="col">
                    <img id="logo" src="../site-images/logo.png" alt="logo" />
                </div>
                <div class="col links">
                    <div class="row">
                        <div class="col">Login</div>
                        <div class="col">Register</div>
                    </div>
                </div>
                <div class="col">
                    <div id="cart">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</head>

<body>
    <header class="masthead" style="background-image: url(https://i.imgur.com/7WfCwqv.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading text-center">
                        <strong>Free Shipping on orders $25 and up</strong>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="text-center container-fluid" id="item-dropdown">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Earrings
                </button>
                <div class="dropdown-menu emphasis" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Buttons</button>
                    <button class="dropdown-item" type="button">Earrings</button>
                    <button class="dropdown-item" type="button">Paintings</button>
                </div>
            </div>
        </div>
        <div id="shop-body">
            <div class="navbar">
                <div id="tabs" class="row">
                    <div class="col">
                        <span class="category-tab">Buttons</span>
                    </div>
                    <div class="col">
                        <span class="category-tab">
                            Earrings
                        </span>
                    </div>
                    <div class="col">
                        <span class="category-tab">
                            Paintings
                        </span>
                    </div>
                </div>
            </div>

            <div class="wrapper text-center">
                <div class="grid-item">
                    <div>
                        <div class="grid-decoration"></div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <img class="product-image" src="https://i.imgur.com/nigtSjB.png" width="250px"
                                alt="Title" />
                        </a>
                    </div>
                    <div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <div class="product-title emphasis">
                                <h5>Test Product</h5>
                            </div>
                            <div class="product-price informative">
                                <i>
                                    $14.99
                                </i>
                            </div>
                        </a>
                    </div>
                    <div class="preview-bottom">
                        <div class="text-left">
                            <a href="{{ route('shop.addToCart', $product->id) }}"
                                class="btn btn-outline-primary btn-sm product-add">Add to cart</a>
                        </div>
                        <div class="text-left">
                            <i class="far fa-heart preview-intr like"></i>
                            <i class="fas fa-share-alt preview-intr"></i>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <div class="grid-decoration"></div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <img class="product-image" src="https://i.imgur.com/nigtSjB.png" width="250px"
                                alt="Title" />
                        </a>
                    </div>
                    <div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <div class="product-title">
                                <h5>Test Product</h5>
                            </div>
                            <div class="product-price">
                                <i>
                                    $14.99
                                </i>
                            </div>
                        </a>
                    </div>
                    <div class="preview-bottom">
                        <div class="text-left">
                            <a href="{{ route('shop.addToCart', $product->id) }}"
                                class="btn btn-outline-primary btn-sm product-add">Add to cart</a>
                        </div>
                        <div class="text-left">
                            <i class="far fa-heart preview-intr like"></i>
                            <i class="fas fa-share-alt preview-intr"></i>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <div class="grid-decoration"></div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <img class="product-image" src="https://i.imgur.com/nigtSjB.png" width="250px"
                                alt="Title" />
                        </a>
                    </div>
                    <div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <div class="product-title">
                                <h5>Test Product</h5>
                            </div>
                            <div class="product-price">
                                <i>
                                    $14.99
                                </i>
                            </div>
                        </a>
                    </div>
                    <div class="preview-bottom">
                        <div class="text-left">
                            <a href="{{ route('shop.addToCart', $product->id) }}"
                                class="btn btn-outline-primary btn-sm product-add">Add to cart</a>
                        </div>
                        <div class="text-left">
                            <i class="far fa-heart preview-intr like"></i>
                            <i class="fas fa-share-alt preview-intr"></i>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <div class="grid-decoration"></div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <img class="product-image" src="https://i.imgur.com/nigtSjB.png" width="250px"
                                alt="Title" />
                        </a>
                    </div>
                    <div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <div class="product-title">
                                <h5>Test Product</h5>
                            </div>
                            <div class="product-price">
                                <i>
                                    $14.99
                                </i>
                            </div>
                        </a>
                    </div>
                    <div class="preview-bottom">
                        <div class="text-left">
                            <a href="{{ route('shop.addToCart', $product->id) }}"
                                class="btn btn-outline-primary btn-sm product-add">Add to cart</a>
                        </div>
                        <div class="text-left">
                            <i class="far fa-heart preview-intr like"></i>
                            <i class="fas fa-share-alt preview-intr"></i>
                        </div>
                    </div>
                </div>
                <!--<div class="grid-item">
                    <div>
                        <div class="grid-decoration"></div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <img class="product-image" src="https://i.imgur.com/nigtSjB.png" width="250px"
                                alt="Title" />
                        </a>
                    </div>
                    <div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <div class="product-title">
                                <h5>Test Product</h5>
                            </div>
                            <div class="product-price">
                                <i>
                                    $14.99
                                </i>
                            </div>
                        </a>
                    </div>
                    <div class="preview-bottom">
                        <div class="text-left">
                            <a href="{{ route('shop.addToCart', $product->id) }}"
                                class="btn btn-outline-primary btn-sm product-add">Add to cart</a>
                        </div>
                        <div class="text-left">
                            <i class="far fa-heart preview-intr like"></i>
                            <i class="fas fa-share-alt preview-intr"></i>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <div class="grid-decoration"></div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <img class="product-image" src="https://i.imgur.com/nigtSjB.png" width="250px"
                                alt="Title" />
                        </a>
                    </div>
                    <div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <div class="product-title">
                                <h5>Test Product</h5>
                            </div>
                            <div class="product-price">
                                <i>
                                    $14.99
                                </i>
                            </div>
                        </a>
                    </div>
                    <div class="preview-bottom">
                        <div class="text-left">
                            <a href="{{ route('shop.addToCart', $product->id) }}"
                                class="btn btn-outline-primary btn-sm product-add">Add to cart</a>
                        </div>
                        <div class="text-left">
                            <i class="far fa-heart preview-intr like"></i>
                            <i class="fas fa-share-alt preview-intr"></i>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <div class="grid-decoration"></div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <img class="product-image" src="https://i.imgur.com/nigtSjB.png" width="250px"
                                alt="Title" />
                        </a>
                    </div>
                    <div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <div class="product-title">
                                <h5>Test Product</h5>
                            </div>
                            <div class="product-price">
                                <i>
                                    $14.99
                                </i>
                            </div>
                        </a>
                    </div>
                    <div class="preview-bottom">
                        <div class="text-left">
                            <a href="{{ route('shop.addToCart', $product->id) }}"
                                class="btn btn-outline-primary btn-sm product-add">Add to cart</a>
                        </div>
                        <div class="text-left">
                            <i class="far fa-heart preview-intr like"></i>
                            <i class="fas fa-share-alt preview-intr"></i>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <div class="grid-decoration"></div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <img class="product-image" src="https://i.imgur.com/nigtSjB.png" width="250px"
                                alt="Title" />
                        </a>
                    </div>
                    <div>
                        <a href="{{ route('shop.singleProduct', $product->id) }}">
                            <div class="product-title">
                                <h5>Test Product</h5>
                            </div>
                            <div class="product-price">
                                <i>
                                    $14.99
                                </i>
                            </div>
                        </a>
                    </div>
                    <div class="preview-bottom">
                        <div class="text-left">
                            <a href="{{ route('shop.addToCart', $product->id) }}"
                                class="btn btn-outline-primary btn-sm product-add">Add to cart</a>
                        </div>
                        <div class="text-left">
                            <i class="far fa-heart preview-intr like"></i>
                            <i class="fas fa-share-alt preview-intr"></i>
                        </div>
                    </div>
                </div>-->
            </div>

            <div id="pagination"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3">

        <!-- Footer Elements -->
        <div class="container-fluid">
            <!-- Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <h4>Follow Us</h4>
                    <br>
                    <div class="mb-5 flex-center">
                        <a id="social" href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>

                        <a id="social" href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>

                        <a id="social" href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://matrilinealnerd.com"> MatrilinealNerd.com</a>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    <!-- Footer -->
</body>

<script src="js/master.js"></script>
<script src="js/navigation.js"></script>
<script src="js/shop.js"></script>
<link rel="stylesheet" href="css/dynamic-grid.css" />

</html>

<!--<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/bcc76ca434.js"></script>
    <link rel="stylesheet" href="css/navigation.css" />
    <link rel="stylesheet" href="css/master.css">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cardo|Contrail+One|Roboto+Condensed&display=swap"
        rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery Custom Scroller CDN
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js">
</script>
<!-- Scrollbar Custom CSS
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" />

<div class="container-fluid" id="heading">
    <div class="row">
        <div class="col">
            <button type="button" id="sidebarCollapse" class="btn btn-info" style="margin-right: 90%">
                <i class="fas fa-align-left"></i>
            </button>
        </div>
        <div class="col middle-col">
            <span id="word">
                Shop
            </span>
            <hr id="title-divider">
        </div>
        <div class="col">
            <div id="cart"><i class="fas fa-shopping-cart fa-1x"></i>
            </div>
        </div>
    </div>
</div>
<br>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar 
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Matrilineal Nerd</h3>
                <i>Some tagline here</i>
            </div>

            <ul class="list-unstyled components">
                <li id="home">Home</li>
                <li id="shop">Shop</li>
                <li id="blog">Blog</li>

                <hr>
                <div>
                    <center><strong>Account</strong></center>
                </div>

                <li>
                    Login
                </li>

                <li>Register</li>
                <li>Dashboard</li>
            </ul>

            <!-- Footer 
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                    <a id="social" href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="social" href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="social" href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p id="copyright" class="copyright text-muted">Copyright &copy; Matrilineal Nerd 2019</p>
                        </div>
                    </div>
                </div>
            </footer>
        </nav>
        <!-- Page Content 
        <div id="content">
            <div id="shop-body" class="container-fluid">
                <div class="navbar">
                    <div id="tabs" class="row">
                        <div class="col category-tab">Buttons</div>
                        <div class="col category-tab">Paintings</div>
                        <div class="col category-tab">Earrings</div>
                        <div class="col category-tab">Bags</div>
                        <div class="col category-tab">Necklaces</div>
                    </div>
                </div>

                <div id="products" class="container">
                    <div class="row product-row">
                        <div class="col-4">
                            <img class="product-image" src="https://i.imgur.com/KIRVLYZ.jpg" width="65%" height="100%"
                                alt="">

                            <div class="product-info">
                                <div class="product-title"><b>Something goes here</b></div>
                                <div class="product-price"><i>$14.99</i></div>
                                <div class="row">
                                    <div class="col-7">
                                        <button type="button" class="btn btn-outline-primary btn-sm product-add">Add to
                                            cart</button>
                                    </div>
                                    <div class="col">
                                        <i class="far fa-heart like"></i>
                                        <i class="fas fa-share-alt share"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <img class="product-image" src="https://i.imgur.com/KIRVLYZ.jpg" width="65%" height="100%"
                                alt="">

                            <div class="product-info">
                                <div class="product-title"><b>Something goes here</b></div>
                                <div class="product-price"><i>$14.99</i></div>
                                <div class="row">
                                    <div class="col-7">
                                        <button type="button" class="btn btn-outline-primary btn-sm product-add">Add to
                                            cart</button>
                                    </div>
                                    <div class="col">
                                        <i class="far fa-heart like"></i>
                                        <i class="fas fa-share-alt share"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <img class="product-image" src="https://i.imgur.com/KIRVLYZ.jpg" width="65%" height="100%"
                                alt="">

                            <div class="product-info">
                                <div class="product-title"><b>Something goes here</b></div>
                                <div class="product-price"><i>$14.99</i></div>
                                <div class="row">
                                    <div class="col-7">
                                        <button type="button" class="btn btn-outline-primary btn-sm product-add">Add to
                                            cart</button>
                                    </div>
                                    <div class="col">
                                        <i class="far fa-heart like"></i>
                                        <i class="fas fa-share-alt share"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $("#sidebarCollapse").on("click", function () {
            // open or close navbar
            $("#sidebar").toggleClass("active");
            // close dropdowns
            $(".collapse.in").toggleClass("in");
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $("a[aria-expanded=true]").attr("aria-expanded", "false");
        });
    });

</script>
<script src="js/master.js"></script>
<script src="js/navigation.js"></script>
<script src="js/shop.js"></script>

</html>-->
