<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
            <h1>Checkout</h1>
            <h4>Your Total: ${{ $total }}</h4>
            <form
                action="{{ route('shop.postCheckout') }}"
                method="POST"
                id="checkout-form"
            >
                <div class="row">
                    <!--Name-->
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input
                                type="text"
                                id="name"
                                class="form-control"
                                required
                            />
                        </div>
                    </div>

                    <!--Address-->
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input
                                type="text"
                                id="address"
                                class="form-control"
                                required
                            />
                        </div>
                    </div>

                    <!--Card Holder name-->
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="card-holder">Card Holder Name</label>
                            <input
                                type="text"
                                id="card-holder"
                                class="form-control"
                                required
                            />
                        </div>
                    </div>

                    <!--Credit Card Number-->
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="card-number">Card Number</label>
                            <input
                                type="text"
                                id="card-number"
                                class="form-control"
                                required
                            />
                        </div>
                    </div>

                    <!--Expiration Date-->
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="expiration-month"
                                        >Expiration Month</label
                                    >
                                    <input
                                        type="text"
                                        id="expiration-month"
                                        class="form-control"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="expiration-year"
                                        >Expiration Year</label
                                    >
                                    <input
                                        type="text"
                                        id="expiration-year"
                                        class="form-control"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--CVC-->
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="card-cvc">CVC</label>
                            <input
                                type="text"
                                id="card-cvc"
                                class="form-control"
                                required
                            />
                        </div>
                    </div>
                </div>
                @csrf
                <button type="submit" class="btn btn-success">Buy now</button>
            </form>
        </div>
    </div>
</div>
