.masthead {
    text-align: center;
    position: relative;
    left: 29%;
    margin-top: 2%;
}

.masthead .row .col-2 {
    color: #764640 !important;
}

.masthead caption {
    font-size: 75%;
}

.masthead .row .col-8 b {
    color: #63354B;
    font-size: 300%;
}

.masthead .row {
    width: 70%;
}

.share {
    margin-bottom: 5%;
}

header {
    background-image: url('https://i.imgur.com/aQie0u9.jpg');
    background-size: cover;
}

.overlay {
    width: 300px;
    height: 350px;
}

#credits {
    position: relative;
    right: 16%;
    margin-top: 1%;
    color: #C2A78D;
}

article {
    width: 65%;
    margin-top: 2%;
    position: relative;
    left: 33%;
    text-align: center;
    font-size: 125%;
}

.controls {
    background: green !important;
}

.carousel-indicators li {
    background-color: #63354B !important;
}


@media (max-width: 768px) {
    .masthead {
        left: 10%;
    }

    .masthead .row {
        width: 90%;
    }

    article {
        width: 85%;
        left: 10%;
        font-size: 90%;
    }

    #credits {
        right: 7%;
    }
}
