/*------CSS GRID----*/

@media (max-width: 768px) {
    .grid {
        display: block !important;
    }

    .grid>div {
        margin-top: 10px;
    }

    .item {
        font-size: 9pt !important;
    }

    .item-info>div:nth-child(2) {
        font-size: 7pt !important;
    }

    .item-info>div:nth-child(3) {
        font-size: 6pt !important;
    }
}

.grid {
    display: grid;
    grid-template-columns: 65% 35%;
    /*grid-column-gap: 1em;
    grid-row-gap: 1em;*/

    grid-gap: 1em;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(50px, auto);
    border-bottom: 1px solid #999999;
}

.modifier {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

.item-info>div:nth-child(2) {
    font-weight: 400;
}

.item-info>div:nth-child(3) {
    font-weight: 200;
}

.card-footer {
    background: #2F4F4F !important;
}

#payment-methods {
    margin-top: 10px;
}

.btn-block {
    background: #2F4F4F !important;
}

.subtotal {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 1em;
}


.subtotal>div:nth-child(2) {
    font-style: italic;
    text-decoration: line-through;
    color: #999999;
}


.savings {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
}

.savings>div:nth-child(2) {
    font-weight: 800;
    color: #764640;
}

.grid>div {}
