@media (max-width: 768px) {
    .checkout-grid {
        display: block !important;
        font-size: 9pt !important;
    }

    input {
        font-size: 8pt !important
    }
}

.checkout-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 65% 35%;
}

.checkout-grid>div {
    margin-bottom: 10px;
}

#paypal-charge {
    background: transparent !important;
    border: transparent !important;
    margin-bottom: 10px;
}
