.comment-section {}

.single-comment {
    background: rgba(211, 211, 211, .25);
    width: 800px;
}

.single-comment>p {
    text-align: left;
    padding: 5px;
}

.comment-input {
    width: 750px;
}


.comment {
    width: 800px;
}

.comment-content {
    overflow-y: auto;
    height: 250px;
}

.comment-create-date {
    font-size: 12px;
    font-weight: 200;
    position: relative;
    bottom: 15px;
}
