/*------DYNAMIC GRID*/
:root {
    --rowNum: 3;
    --colNum: 3;
    --gridHeight: 350px;
}

.card-header h2 {
    font-size: 100%;
}

.wrapper {
    display: grid;
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-row-gap: 5em;
    grid-template-columns: repeat(var(--colNum), auto);
    position: relative;
    left: 7%;
    overflow-y: auto;
    height: 500px;
}

.grid-item {
    grid-column-start: auto;
    grid-row-start: auto;
    margin: 5px;
    width: 40%;
    text-align: center;
    margin-bottom: 10%;
}



@media (max-width: 768px) {
    .wrapper {
        left: 12% !important;
        height: inherit !important;
        overflow-y: hidden !important;
    }

    :root {
        --rowNum: 9;
        --colNum: 1;
        --gridHeight: 350px;
    }

    .grid-item {
        position: relative !important;
        right: 4% !important;
    }
}
