body {
    background-image: url("https://i.imgur.com/XEC81np.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

center {
    margin-top: 150px;
}

p {
    font-size: 20px;
    text-align: center;
    width: 70%;
    color: white;
    text-shadow: 1px 1px 1px lightslategray;
}

.btn-lg {
    margin-top: 75px;
}

#heading {
    color: white;
    margin-bottom: 25px;
}
