body {
    background-image: url("https://i.imgur.com/AuWlZCT.jpg");
    background-size: cover;
    background-position-x: 75%;
    background-repeat: no-repeat;
}


#message p {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #E16363;
    font-size: 85px;
    margin-top: 3%;
    margin-bottom: 10%;
    text-shadow: 1px 1px 1px grey;
}


@media (max-width: 768px) {
    #message p {
        font-size: 400%;
        margin-bottom: 3%;
    }
}
