#content {
    position: relative;
    left: 30%;
    text-align: center;
    width: 65%;
}

#shop-body .row {
    width: 95%;
    text-align: center;
    position: relative;
}

#shop-body .navbar {
    bottom: 30px;
}

#shop-body {
    position: relative;
    left: 4.5%;
    margin-top: 3%;
}

.product-info {
    width: 75%;
    position: relative;
    left: 20%;
}

#tabs {
    border-bottom: 1px solid #E7D3C0;
    padding-bottom: 2%;
}

.category-tab {
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    font-family: 'Cardo', serif;
    font-size: 100%;
    color: rgba(125, 129, 129, .50);
    font-weight: normal;
}



.category-tab:hover {
    color: rgba(125, 129, 129, 1);
}


.like {
    cursor: pointer;
    color: #88546C !important;
}

.share {
    cursor: pointer;
    color: #88546C !important;
}

.like:hover {
    color: crimson !important;
}

.share:hover {
    color: crimson !important;
}

.product-image {
    border-radius: 2%;
    cursor: pointer;
}

.product-title {
    font-size: 80%;
    text-align: left;
    cursor: pointer;
}

.product-add:hover {
    background-color: #88546C !important;
    color: white !important;
}

.glyphicon-heart-empty {
    color: black !important;
}

.product-add {
    margin-top: 2%;
    border-radius: 5%;
    border-color: #88546C !important;
    color: #88546C !important;
    position: relative;
    right: 10%;
    width: 90% !important;
    font-size: 60% !important;
}

.product-price {
    text-align: left;
    font-size: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.product-row {
    margin-bottom: 50px;
}


@media (max-width: 768px) {
    #content {
        position: relative;
        left: 0%;
        width: 100%;
    }

    .product-add {
        width: 200% !important;
        font-size: 8px !important;
    }
}
