#heading {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.navigation {
    background: white;
}

.navigation>.row {
    padding: 1%;
}

#expand {
    background-color: transparent !important;
    border: transparent !important;
    color: #764640;
    display: none;
    position: relative;
}


#logo {
    width: 100%;
}

.dashboard {
    color: crimson !important;
    font-weight: bold;
}

.nav-link {
    font-size: 90% !important;
    font-weight: 600;
    color: #764640;
}

.nav-link:hover {
    color: black;
    transition: 0.05s;
}

#cart {
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    left: 83%;
}


.fa-shopping-cart {
    color: #764640 !important;
}

.navbar-toggler-icon {
    color: #764640;
    background-color: #764640;
}

.links {
    display: block;
}

.links .col {
    color: #764640;
    margin-top: 3%;
    cursor: pointer;
}

.links .col:hover {
    color: black;
}

@media (max-width: 768px) {
    #expand {
        display: block;
    }

    .links {
        display: none;
    }

    #cart {
        left: 58%;
    }
}
