#content {
    /*background-image: url("https://i.imgur.com/hJjLXOb.jpg");
    background-position: center;
    background-size: cover;*/
}



#title-divider {
    width: 15%;
    background-color: #764640
}

#word {
    font-family: 'Cardo', serif;
    color: #764640;
    font-size: 125%;
    margin-bottom: -5px;
}


#cart {
    margin-top: 2%;
    margin-left: 90%;
    color: #764640;
    opacity: .75;
}

#sidebarCollapse {
    position: relative;
    right: 15%;
    background: transparent !important;
    color: #764640 !important;
    border: transparent !important;
}

.list-unstyled li {
    width: 30%;
    height: 125%;
    font-size: 125%;
    margin-bottom: 7%;
    font-family: 'Cardo', serif;
    color: #B4B8BB;
    cursor: pointer;
    background-color: transparent;
}

/*.list-unstyled li:hover {
    color: #E08852;
    background: seashell;
    width: 50%;
    text-decoration: none;
    transition: all 0.3s;
}*/

.list-unstyled div {
    font-weight: 200;
    font-family: 'Cardo', serif;
    color: #B4B8BB;
}

.list-unstyled hr {
    margin-bottom: 2%;
}

#heading .row {
    text-align: center;
}

#copyright {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75%;
}

#content p {
    text-align: right;
    color: white;
}

#heading .row:nth-child(1) {
    color: white;
    margin-left: 25%;
}

#heading .row:nth-child(2) {
    color: white;
}


.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 450px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: white;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 2px 4px 3px rgba(210, 210, 210, .65);
}

#sidebar.active {
    margin-left: -450px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -600px;
    }

    #sidebar.active {
        margin-left: 0;
    }


    #heading .row:nth-child(1) {
        color: white;
        margin-left: 0;
    }

    .middle-col {
        margin-left: 0%;
    }

}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#social,
#social:hover,
#social:focus {
    color: #C2A78D;
    text-decoration: none;
    transition: all 0.3s;
}

.wide-divider {
    background-color: #C2938D;
    border-bottom: 2px solid #C2938D;
}

#sidebar ul li #social:hover {
    color: rgba(194, 167, 1141, .8);
    background: #fff;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
}

.sidebar-header h3 {
    color: black;
}

.sidebar-header i {
    color: #999;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 2px solid #C2938D;
    margin-bottom: 5%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
