/*------SHARED-------*/
@font-face {
    font-family: LemonMilk;
    src: url(../../fonts/lemon-milk/LemonMilkbolditalic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: LemonMilk;
    src: url(../../fonts/lemon-milk/LemonMilkitalic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: LemonMilk;
    src: url(../../fonts/lemon-milk/LemonMilklight.otf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: LemonMilk;
    src: url(../../fonts/lemon-milk/LemonMilklightitalic.otf);
    font-weight: 200;
    font-style: italic;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 50px;
}

footer {
    margin-top: 25px;
    text-align: center;
    background: white;
}

.emphasis {
    font-family: "LemonMilk" !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.emphasis-header {
    font-family: "LemonMilk" !important;
    font-weight: bold;
}

.emphasis-light {
    font-family: "LemonMilk" !important;
    font-weight: 200 !important;
    font-style: normal !important;
}

.informative-light {
    font-family: "Cardo", serif !important;
    font-weight: 200 !important;
}

.informative {
    font-family: "Cardo", serif !important;
}

.informative-header {
    font-family: "Cardo", serif !important;
    font-weight: bold !important;
}

.brand-color {
    background-color: rgba(177, 239, 212, 0.4) !important;
}

.masthead {
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    height: 300px;
    width: 900px;
    margin-top: 25px;
}

#social {
    color: #c2938d;
}

#copyright {
    color: snow !important;
}

#message {
    text-align: center;
    margin-left: 50px;
    margin-top: 575px;
    margin-bottom: 50px;
}

#message p {
    text-align: center;
    font-family: "Abril Fatface", cursive;
    color: #e16363;
    font-size: 100px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-shadow: 1px 1px 1px grey;
}

#message button {
    border: 3px solid black !important;
}

/* Order Summary*/

@media (max-width: 768px) {
    #message {
        margin-top: 475px !important;
        margin-left: 0px !important;
    }

    .order-grid {
        display: block !important;
    }

    .order-grid > div:nth-child(1) {
        margin-bottom: 1em;
    }
}

#shipping-update {
    margin: 2em;
}

.order-card {
    font-size: 10pt;
}

.order-card > div {
    margin-bottom: 1em;
}

.order-card > div > div {
    margin-bottom: 7px;
}

.order-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

#delivary-date {
    color: #598cb3;
    font-weight: 600 !important;
    font-size: 12pt;
}

/*-------Product-------*/

@media (max-width: 768px) {
    #main-image {
        width: 250px !important;
    }

    .navbar {
        display: none;
    }

    #mini-images {
        grid-row-gap: 0em !important;
        top: 15% !important;
        width: 50px !important;
        height: 50px !important;
    }

    .product-info {
        display: none;
    }

    .product-view {
        grid-template-columns: 0% 100% !important;
        margin-top: 25px !important;
        grid-column-gap: 0em !important;
    }

    #back-text {
        display: none;
    }

    #mobile-product-info {
        display: block !important;
        border-radius: 25px 0 25px 0;
        margin-top: 30px;
    }

    #mobile-product-title {
        display: block !important;
    }
}

#mobile-product-info {
    display: none;
    background: rgb(198, 239, 222);
}

#mobile-product-info > p {
    font-size: 10pt;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
}

#mobile-product-info > .row {
    padding-bottom: 10px;
}

#mobile-product-title {
    display: none;
    position: relative;
    right: 3%;
}

#product-title {
    color: #63354b;
}

.maroon {
    color: #88546c !important;
    background: transparent !important;
    border: transparent !important;
}

#mini-images {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    position: relative;
    top: 10%;
}

.product-view {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-column-gap: 1em;
}

#qty {
    display: grid;
    grid-template-columns: 20% 20% 20%;
}

.product-description {
    background: rgb(198, 239, 222);
    border-radius: 40px 0px 40px 0px;
    font-weight: 300;
    min-height: 200px;
    margin-bottom: 25px;
    color: black;
    padding: 20px;
}

.sub-image {
    cursor: pointer;
}

.product-interaction {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-interaction > div > strong {
    font-size: 20px;
}

#top-interaction {
    margin-top: 75x;
    margin-bottom: 75px;
}

/*------------BLOG SINGLE---------------*/
#blog-header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-column-gap: 1em;
}

#masthead-category {
    background: #2f4f4f !important;
    position: relative;
    bottom: 28px;
    border-radius: 0px 20px 0px 0px;
}

#masthead-category > span {
    padding: 20px;
    color: white;
    font-size: 22px;
    font-weight: 300;
}

#author-info {
    color: #999999;
    font-weight: 300;
}

#blog-like {
    position: relative;
    top: 235px;
}

#blog-like > a > i {
    color: white !important;
    margin-right: 5px;
}

#mobile-share {
    margin-top: 10px;
    display: none;
}

@media (max-width: 768px) {
    #mobile-share {
        display: block;
    }

    #desktop-share {
        display: none !important;
    }
}

/*---------------BLOG INDEX------------*/

@media (max-width: 768px) {
    .blog-preview-content {
        left: 0 !important;
    }
}

.blog-category {
    background: #2f4f4f;
    position: relative;
    right: 254px;
    top: 115px;
    border-radius: 0px 25px 0px 0px !important;
}

.blog-category > span {
    font-size: 20px !important;
    padding: 10px;
    font-weight: 300;
}

.blog-preview-content {
    width: 250px;
    position: relative;
    left: 150px;
    color: #63354b;
}

#blog-preview-title {
    margin-top: 10px;
}

.blog-preview-content > a > p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.blog-preview-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.blog-preview-info > div:nth-child(1) {
    border-right: 1px solid #999999;
}

.blog-preview-info > div:nth-child(3) {
    border-left: 1px solid #999999;
}

/*------------SHOP-------------*/

@media (max-width: 768px) {
    #shop-body > .navbar {
        display: none;
    }

    #item-dropdown {
        display: block !important;
    }
}

.grid-item {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    margin-bottom: 15px;
}

.grid-decoration {
    background: rgba(188, 224, 220, 0.5);
    border-radius: 0px 50px 0px 50px;
    height: 50px;
    position: relative;
    top: 70px;
    z-index: -1;
}

.grid-item > div:nth-child(2) > a {
    color: black !important;
}

.preview-bottom {
    /*min-height: 50px;*/
    /*display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1em;*/
    /*background: rgb(254, 196, 194, .75);*/
    /*border-radius: 50px 0px 0px 0px;*/
}

#shop-body .row {
    text-align: center;
    width: 100%;
}

#shop-body > .navbar {
    width: 100%;
    text-align: center;
}

#item-dropdown {
    display: none;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: white !important;
    z-index: 1;
    height: 75px !important;
}

#item-dropdown > div > button {
    background: transparent !important;
    border: transparent !important;
    color: #88546c !important;
    font-size: 25px !important;
    font-weight: 300 !important;
}

#shop-body {
    margin-top: 25px;
}

#tabs {
    border-bottom: 1px solid #e7d3c0;
    padding-bottom: 2%;
}

.category-tab {
    cursor: pointer;
    padding: 3% 5% 3% 5%;
    transition: all 0.3s;
    position: relative;
    font-size: 90%;
    color: rgba(125, 129, 129, 0.5);
    font-weight: normal;
}

.site-heading strong {
    color: whitesmoke;
    text-shadow: 2px 2px 3px #999999;
    font-size: 4em;
}

.preview-bottom > .text-left > a {
    position: relative;
    left: 15%;
}

.preview-bottom > div {
    padding: 10px;
}

.category-tab:hover {
    color: rgba(125, 129, 129, 1);
}

.preview-intr {
    margin-top: 10px;
    cursor: pointer;
    color: #88546c !important;
}

.preview-intr:hover {
    color: crimson !important;
}

.product-add:hover {
    background-color: #88546c !important;
    color: white !important;
}

.product-add {
    margin-top: 2%;
    border-radius: 5%;
    border-color: #88546c !important;
    color: #88546c !important;
}

@media (max-width: 768px) {
    #message p {
        font-size: 400%;
        margin-bottom: 2%;
    }

    html {
        min-height: 100vh;
    }

    .cart-image {
        width: 30px;
    }

    .site-heading strong {
        font-size: 3em;
    }
}
