//COLOR
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
//---BRAND COLORS
$color-primary: #000;
$color-secondary: #000;
$color-tertiary: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
