*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

#badge {
    bottom: 32px;
    left: 55px;
    position: relative;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background: red;
}

.nav-item > a {
    color: black !important;
}
